*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#548687 ;
    text-align: center;
}
h1{
    margin-top: 1rem;
}


.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;  /*jagah nahi hai to niche chale jayenge boxes iski wajah se*/
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;    /*boxes ke bichme gap generate  */
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem; /*to curve the corners*/
    border:none;
    box-shadow: 0 0 1rem rgb(204, 63, 45,0.8);
    font-size: 8vmin;
    color: #b0413e;
    cursor:pointer;
    background-color: #ffffc7;
}
#reset{
    margin-top: 2rem;
    padding:2vmin;
    font-size: 3vmin;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border:none;
    cursor:pointer;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);

}
#new-btn{
   /* margin-top: rem; */
    padding:1rem;
    font-size:1.25rem;
    background-color:#191913 ;
    color:#fff;
    border-radius: 1rem;
    border:none;
}
#msg{
    color:ffffc7;
    font-size: 5vmin;
}
.msg-container{
    height:100vmin;
    display: flex; /* Add flex display */
     /* Add flex display */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center horizontally */
  align-items: center;
  gap:4rem;
}
.hide{
    display: none;
}
.hidden {
    display: none;
  }
  .winning-box {
    text-decoration: line-through;
}
 